argon2-cffi==20.1.0
async-generator==1.10
bleach==3.3.0
cython==0.29.22
defusedxml==0.7.1
entrypoints==0.3
iprogress==0.4
ipywidgets==7.6.3
jinja2==2.11.3
jsonschema==3.2.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
markupsafe==1.1.1
mistune==0.8.4
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.2
nest-asyncio==1.5.1
notebook==6.2.0
opencv-python==4.5.1.48
pandas
pandocfilters==1.4.3
prometheus-client==0.9.0
pyrsistent==0.17.3
pytz==2021.1
pyworld==0.2.12
pyyaml==5.4.1
scipy
send2trash==1.5.0
sklearn
terminado
testpath
webencodings
widgetsnbextension
scikit-build
